.custom-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    background:linear-gradient(135deg,#2563eb,#1d4ed8);

    color:white;

    transition:.35s;

}

.custom-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 30px rgba(37,99,235,.35);

}